/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap'); */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* max-width: "1536px";
  margin-inline: "auto"; */
  /* font-family: 'Roboto Condensed', sans-serif; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.container2 {
  width: 100%;
}
@media (min-width: 640px) {
  .container2 {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container2 {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container2 {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container2 {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container2 {
    max-width: 1536px;
  }
}

.shadow1 {
  box-shadow: "0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)";
}
.block-flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: "1em";
}

@media screen and (max-width: 600px) {
  .block-flex {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
  }
}
